.faq
  &__wrap
    display: flex
    flex-direction: column
    gap: 30px
    @include max($tabletV - 1)
      gap: 50px
  &__question
    font: 800 20px/27px $mainFont
    letter-spacing: 0.02em
    margin-bottom: 20px
    position: relative
    display: inline-block
    @include max($tabletV - 1)
      font: 800 15px/20px $mainFont