.header
  border-bottom: 1px solid $border
  background: $white
  @include max($tabletG - 1)
    position: fixed
    left: 0
    right: 0
    top: 0
    z-index: 3
  &__wrap
    padding: 16px 0 0
    @include max($tabletG - 1)
      padding: 14px 0
  &__top
    display: flex
    align-items: center
    justify-content: flex-start
    gap: 50px
    @include between($tabletG, $notebook)
      gap: 30px
    @include max($tabletG - 1)
      gap: 20px
    .button
      width: 240px
  &__logo
    @include between($tabletG, $netbook)
      width: 200px
    @include max($tabletV - 1)
      width: 178px
  &__phone
    display: flex
    align-items: center
    justify-content: flex-start
    gap: 14px
    color: $black
    font: 800 17px/20px $mainFont
    margin-left: auto
    white-space: nowrap
    svg
      width: 20px
      height: 20px
      fill: $black
  &__address
    font-size: 14px
    .city
      font-weight: 800
    .street
      font-weight: 200
  &__menu
    margin-top: 25px
    display: flex
    align-items: center
    justify-content: flex-start
    gap: 40px
    .sub-menu
      display: flex
      flex-direction: column
      justify-content: flex-start
      padding: 35px 20px 50px
      @include min($tabletG)
        position: absolute
        left: 0
        top: 50%
        width: 340px
        opacity: 0
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25)
        z-index: -1
        background: $white
        transition: all 0.2s ease
        .menu-item
          border-bottom: 1px solid $border
          &:not(:first-child)
            padding: 20px 0 0
          a
            font-size: 17px
      @include between($netbook, $desktop)
        padding: 10px 15px 20px
        .menu-item
          padding: 15px 0 0
          a
            font-size: 15px
      @include max($tabletG - 1)
        padding: 10px 10px 0
        .menu-item:not(:last-child)
          padding-bottom: 10px
    .menu-item
      a
        font-weight: 800
        @include min($tabletG)
          transition: color 0.2s ease
          &:hover
            color: $lightBlue
        @include max($tabletG - 1)
          display: block
          width: 100%
    &>.menu-item
      position: relative
      padding-bottom: 20px
      &:not(:last-of-type):after
        content: ''
        position: absolute
        top: 0
        right: -20px
        width: 1px
        height: 25px
        background: $border
      a
        color: $black
        font-size: 14px
      &.current-menu-item
        &>a
          color: $lightBlue
        &.menu-item-has-children:before
          border-color: $lightBlue
      &.menu-item-has-children
        @include min($tabletG)
          flex-direction: row-reverse
          display: flex
          align-items: center
          justify-content: flex-start
          gap: 7px
          cursor: pointer
          &::before
            content: ''
            border-top: 1px solid $black
            border-left: 1px solid $black
            width: 7px
            height: 7px
            display: block
            border-radius: 1px
            transform: rotate(-135deg)
            transition: all 0.2s ease
        &:hover
          &>a
            color: $lightBlue
          &::before
            border-color: $lightBlue
            transform: rotate(45deg)
          .sub-menu
            opacity: 1
            top: 100%
            z-index: 10
.burger
  width: 25px
  height: 16px
  display: flex
  flex-direction: column
  justify-content: space-between
  flex-shrink: 0
  position: relative
  z-index: 9
  &:before, &:after
    content: ''
    width: 100%
    height: 2px
    border-radius: 1px
    background: $black
    transition: all .2s ease
    transform-origin: center center
  div
    height: 2px
    border-radius: 1px
    background: $black
  &.active
    height: 25px
    div
      display: none
    &::before
      transform: translate(0, 11.5px) rotate(135deg)
    &:after
      transform: translate(0, -11.5px) rotate(-135deg)
.burger-menu
  position: absolute
  left: 0
  right: 0
  top: 0
  background: $white
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25)
  &__phone
    display: inline-block
    padding: 17px 0
    color: $blue
    font: 800 17px/20px $mainFont
  &__menu
    width: 100%
    border-top: 1px solid $border
    padding: 20px 0 25px
    .menu-item
      margin-bottom: 15px
      &>a
        display: inline-block
        width: 100%
        font: 800 17px/25px $mainFont
        color: $black
    .menu-item-has-children
      &>a
        width: 100%
        display: flex
        align-items: center
        justify-content: flex-start
        gap: 8px
        cursor: pointer
        &::after
          content: ''
          border-top: 2px solid $black
          border-left: 2px solid $black
          width: 8px
          height: 8px
          display: block
          border-radius: 1px
          transform: rotate(135deg)
          transition: all 0.2s ease
      &.active
        a::after
          transform: rotate(225deg)
      .sub-menu
        width: 100%
        display: none
        margin-top: 15px

        .menu-item
          margin-bottom: 10px
          &>a
            font: 400 17px/20px $mainFont