.prices
  background: $white
  padding: 50px 0
  margin-top: 120px
  &__wrap
    display: flex
    flex-direction: column
    gap: 15px
  &__item
    border-bottom: 1px solid #9E9B9B
    font: 400 17px/25px $mainFont
    display: flex
    align-items: center
    justify-content: space-between
    gap: 1em
  &__after
    font: 800 14px/17px $mainFont
    margin-top: 50px
  &__extra
    margin-top: 45px