.ratings
  display: flex
  align-items: center
  justify-content: center
  flex-wrap: wrap
  gap: 100px
  &__item
    height: 75px
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    color: $black
    font-weight: 800
