.services
  &__wrap
    display: grid
    grid-template-columns: repeat(4, 1fr)
    grid-gap: 50px 20px
    @include between($tabletG, $netbook)
      grid-gap: 40px 15px
    @include between($tabletV, $tabletG)
      grid-template-columns: repeat(3, 1fr)
      gap: 20px
    @include max($tabletV - 1)
      grid-template-columns: 1fr
      gap: 20px
  &__item
    display: flex
    flex-direction: column
    gap: 9px
    justify-content: center
    align-items: center
    text-align: center
    background: $white
    box-shadow: 0 4px 10px rgba(51, 51, 51, 0.25)
    border-radius: 20px
    padding: 18px
    color: $black
    transition: all 0.2s ease
    @include max($tabletV - 1)
      padding: 33px 18px
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25)
    @include min($netbook)
      &:hover
        background: $bgLight
        box-shadow: 0 1px 2px rgba(51, 51, 51, 0.25)
    &:active
      box-shadow: none
    &-title
      font: 800 20px/20px $mainFont
    &-img
      width: 35px
      height: 35px
  &__buttonrow
    margin-top: 80px
    display: flex
    align-items: center
    justify-content: flex-start
    gap: 50px
    @include between($tabletG, $netbook)
      gap: 30px
    @include max($tabletG - 1)
      margin-top: 50px
      gap: 20px
  &__button
    width: 280px
    &_all svg
      width: 15px
      height: 15px
      fill: transparent
      stroke: $blue
      @include max($tabletV - 1)
        display: none
.services-block
  background-color: $bgLight
  &__wrap
    display: flex
    align-items: flex-start
    justify-content: space-between
    gap: 10px
  &__list
    max-width: 700px
  &__item
    &:not(:last-child)
      margin-bottom: 120px
      @include max($tabletG - 1)
        margin-bottom: 20px
    @include max($tabletG - 1)
      background: $white
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25)
      border-radius: 20px
      padding: 30px 10px
  &__title
    font: 800 34px/34px $mainFont
    margin-bottom: 30px
    display: inline-block
    @include max($tabletG - 1)
      font: 800 20px/25px $mainFont
      margin-bottom: 20px
      text-align: center
      width: 100%
  &__img
    margin-bottom: 30px
    @include max($tabletG - 1)
      margin-bottom: 20px
  .button
    margin-top: 50px
    @include max($tabletG - 1)
      position: relative
      left: 50%
      transform: translateX(-50%)
    svg
      width: 12px
      height: 12px
      stroke: $blue
      fill: transparent
  &__ul
    margin-top: 20px
    list-style-type: initial
  &__li
    font: 800 20px/27px $mainFont
    @include max($tabletG - 1)
      font: 800 14px/20px $mainFont
    &:not(:last-child)
      margin-bottom: 10px
      @include max($tabletG - 1)
        margin-bottom: 5px
  .form__submit
    margin-bottom: 10px
  &__side
    @include max($tabletG - 1)
      display: none
.services-detailed
  &__wrap
    display: grid
    grid-gap: 100px
    grid-template-columns: 700px 1fr
    @include between($netbook, $notebook)
      grid-gap: 60px
      grid-template-columns: 1fr 400px
    @include max($netbook - 1)
      grid-gap: 70px
      grid-template-columns: 1fr
    @include between($tabletV, $tabletG)
      grid-gap: 50px
  &__white-wrap
    display: flex
    gap: 60px
    align-items: flex-start
    justify-content: flex-end
    margin-bottom: 50px
    @include between($notebook, $desktop)
      margin-bottom: 30px
    @include between($netbook, $notebook)
      gap: 30px
    @include max($tabletG - 1)
      flex-direction: column
      justify-content: flex-start
      gap: 30px
  &__text
    &-desc
      margin-bottom: 50px
      @include between($notebook, $desktop)
        margin-bottom: 30px
      @include max($netbook - 1)
        &:last-child
          margin-bottom: 0
    p:not(:last-child)
      margin-bottom: 20px
    &-block
      display: flex
      align-items: flex-start
      justify-content: flex-start
      gap: 100px
      margin-right: 100px
      @include between($notebook, $desktop)
        gap: 30px
        margin-right: 70px
        img
          max-width: 120px
      @include max($tabletV - 1)
        gap: 30px
        flex-direction: column
        margin: 0
        img
          width: 150px
          margin: 0 auto
      &:not(:last-child)
        margin-bottom: 50px
      &:nth-of-type(odd)
        @include min($tabletV)
          flex-direction: row-reverse

    &-img
      flex-shrink: 0
      border-radius: 30px
      max-width: 530px
      @include between($netbook, $desktop)
        max-width: 500px
      @include between($tabletG, $netbook)
        max-width: 400px
      @include between($tabletV, $tabletG)
        margin: 0 auto
    &-last
      display: flex
      align-items: center
      justify-content: flex-start
      gap: 20px
      p
        font-weight: 800
      a
        text-decoration: underline
        color: $blue
      svg
        width: 40px
        height: 40px
        flex-shrink: 0
  &__aside
    display: flex
    flex-direction: column
    gap: 170px
    @include max($netbook - 1)
      margin: 0 auto
      gap: 30px
  &__steps
    &-desc
      font-weight: 800
      margin-bottom: 65px
      max-width: 970px
    &-list
      max-width: 810px
      margin-left: auto
      list-style-type: none
      counter-reset:  item
      li
        margin-bottom: 85px
        position: relative
        &:before
          content: '0'counter(item)
          counter-increment: item
          font: 800 60px/65px $mainFont
          color: $blue
          opacity: 0.3
          position: absolute
          left: 0
          top: -0.5em
          @include max($tabletV - 1)
            font: 800 35px/40px $mainFont
      span
        font: 800 14px/17px $mainFont
    &-title
        margin-bottom: 24px
  &__advantages
    &-desc
      margin-bottom: 30px
    &-item
      display: flex
      align-items: flex-start
      justify-content: flex-start
      gap: 16px
      &:not(:last-child)
        margin-bottom: 15px
      &::before
        content: ''
        width: 28px
        height: 28px
        background: url("./assets/images/sprite-content/check.svg") no-repeat
        background-size: contain
        flex-shrink: 0
        @include max($desktop - 1)
          width: 22px
          height: 22px
      span
        display: inline-block
        max-width: 800px
  &__reviews
    background: $white
    padding: 50px 0
    margin-top: 50px
    &-wrap
      display: grid
      grid-template-columns: repeat(2,1fr)
      grid-gap: 50px 60px
      @include max($tabletG - 1)
        grid-gap: 30px
        grid-template-columns: 1fr
  &__doctors
    margin-top: 120px
    @include between($tabletV, $tabletG)
      margin-top: 80px
    @include max($tabletV - 1)
      margin-top: 70px
    &-all
      margin-top: 100px
      position: relative
      left: 50%
      transform: translateX(-50%)
      @include between($netbook, $desktop)
        margin-top: 80px
.cite
  background: linear-gradient(87.32deg, #D6EDFD 2.01%, #EDEBEC 88.6%)
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25)
  border-radius: 50px
  padding: 50px 100px 80px
  position: relative
  @include between($netbook, $desktop)
    padding: 30px 50px 80px
  @include between($tabletG, $netbook)
    padding: 30px 25% 30px 30px
    border-radius: 20px
  @include between($tabletV, $netbook)
    left: -20px
    right: -20px
    width: calc(100% + 40px)
    padding: 30px 33.3% 30px 10px
    border-radius: 0
  @include max($tabletV - 1)
    border-radius: 0
    position: relative
    left: -10px
    width: calc(100% + 20px)
    padding: 30px 10px 180px
  &__title
    display: flex
    align-items: center
    justify-content: flex-start
    gap: 30px
    @include max($tabletG - 1)
      gap: 10px
      text-align: left
      align-items: flex-start
      position: relative
      top: 5px
    svg
      width: 30px
      height: 30px
      fill: $purple
      flex-shrink: 0
      @include max($tabletV - 1)
        width: 24px
        height: 24px
  &__desc
    margin-bottom: 50px
    @include max($tabletG - 1)
      margin-bottom: 20px
    p:not(:last-child)
      margin-bottom: 20px
  &__name
    font-weight: 200
  &__img
    position: absolute
    right: 100px
    bottom: 0
    max-height: 100%
    @include between($tabletG, $netbook)
      right: 0
      max-width: 25%
    @include max($tabletG - 1)
      max-width: 45%
      right: 0
      bottom: 0
  &__limit
    max-width: 700px
.services__slider
  position: relative
  &-item
    position: relative
    padding: 30px 20px 110px
    background: linear-gradient(87.32deg, #D6EDFD 2.01%, #EDEBEC 88.6%)
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25)
    border-radius: 30px
    overflow: hidden
    opacity: 0
    transition: opacity 0.2s ease
  .swiper-slide-visible .services__slider-item
    opacity: 1
  &-lead
    position: absolute
    top: 30px
    left: 17px
    padding: 10px 15px
  &-title
    font: 800 20px/25px $mainFont
    height: 50px
  &-occupation
    font: 400 12px/16px $mainFont
  &-exp
    font: 400 12px/16px $mainFont
    margin-bottom: 20px
  &-excerpt
    font: 400 14px/20px $mainFont
    width: 66%
    overflow: hidden
    text-overflow: ellipsis
    display: -webkit-box
    -webkit-line-clamp: 5
    height: 100px
    -webkit-box-orient: vertical
  &-img
    position: absolute
    bottom: 0
    right: 0
    width: 40%
    aspect-ratio: 300/400
  &-link
    position: absolute
    bottom: 20px
    left: 20px
    width: 180px
    height: 45px
    z-index: 1
    font-size: 15px
    svg
      width: 12px
      height: 12px
      fill: transparent
      stroke: $white
  .pagination
    justify-content: center
    bottom: -55px !important
.warning
  padding: 25px 100px
  position: relative
  background: linear-gradient(87.32deg, #E9BCBC 43.86%, #EDEBEC 88.6%)
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25)
  border-radius: 30px
  font-weight: 800
  text-align: center
  @include between($tabletV, $tabletG)
    padding: 25px 40px
  @include max($tabletV - 1)
    padding: 20px
.contraindications
  display: flex
  align-items: flex-start
  justify-content: space-between
  gap: 50px
  @include max($tabletG - 1)
    flex-direction: column
    justify-content: flex-start
  li
    margin-bottom: 15px
    list-style-type: none
    display: flex
    align-items: center
    justify-content: flex-start
    gap: 17px
    &::before
      display: block
      content: ''
      width: 10px
      height: 10px
      border-radius: 50%
      border: 2px solid $red
      flex-shrink: 0
      box-sizing: border-box
  &__desc
    margin-bottom: 50px
    max-width: 550px
.services-types
  display: flex
  flex-direction: column
  gap: 120px
  @include max($netbook - 1)
    gap: 70px
  &__item
    display: flex
    align-items: flex-start
    justify-content: space-between
    gap: 50px
    @include max( $tabletG - 1)
      gap: 30px
      flex-direction: column
      justify-content: flex-start
  &__text
    max-width: 750px
    p:not(:last-child)
      margin-bottom: 20px
  &__img
    @include max($tabletG - 1)
      margin: 0 auto
    @include max($tabletV - 1)
      max-width: 300px
.stages
  padding-top: 65px
  display: grid
  grid-template-columns: repeat(3, 300px)
  gap: 150px
  @include between($netbook, $desktop)
    gap: 70px
    grid-template-columns: repeat(3, 1fr)
  @include max($netbook - 1)
    gap: 30px
    grid-template-columns: repeat(3, 1fr)
    padding: 0
  @include max($tabletG - 1)
    grid-template-columns: 1fr
  &__box
    &:not(:last-child)
      position: relative
      &::after
        content: ''
        position: absolute
        width: 280px
        height: 60px
        background: url("./assets/images/stages-arrow.png") center/contain no-repeat
        bottom: calc(100% + 20px)
        left: 60%
        @include max($netbook - 1)
          content: unset
    h4
      margin-bottom: 20px
.result
  background: linear-gradient(87.32deg, #D6EDFD 2.01%, #EDEBEC 88.6%)
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25)
  border-radius: 50px
  padding: 50px 100px 220px
  position: relative
  @include between($netbook, $desktop)
    padding: 50px 60px 200px
  @include between($tabletV, $netbook)
    padding: 30px 30px 300px
    border-radius: 30px
  @include max($tabletV - 1)
    padding: 20px 10px 150px
    border-radius: 0
    left: -10px
    width: calc(100% + 20px)
  &__wrap
    display: flex
    align-items: flex-start
    justify-content: space-between
    gap: 20px
    @include max($netbook - 1)
      flex-direction: column
      gap: 30px
  &__text
    display: flex
    flex-direction: column
    gap: 30px
    @include min($netbook)
      max-width: 600px
  &__title
    margin-bottom: 10px
    display: flex
    align-items: center
    justify-content: flex-start
    gap: 20px
    h4
      margin: 0
    svg
      width: 37px
      height: 37px
      fill: $darkBlue
      @include between($netbook, $desktop)
        width: 30px
        height: 30px
  &__img
    border-radius: 30px
    max-width: 530px
    @include between($netbook, $desktop)
      max-width: 500px
    @include max($netbook - 1)
      max-width: 400px
      margin: 0 auto
  &__after
    background: linear-gradient(267.27deg, #117DC1 2.73%, #7C598C 112.12%)
    box-shadow: inset 0 4px 10px rgba(51, 51, 51, 0.25)
    border-radius: 30px
    color: $white
    display: flex
    align-items: center
    justify-content: flex-start
    position: absolute
    left: 0
    right: 0
    bottom: 0
    padding: 52px 100px
    overflow: hidden
    @include between($netbook, $desktop)
      padding: 35px 75px
    @include max($netbook - 1)
      flex-direction: column
      align-items: flex-start
      gap: 20px
    @include between($tabletV, $tabletG)
      padding: 20px 30px
    @include max($tabletV - 1)
      flex-direction: column
      align-items: flex-start
      padding: 20px 10px
      border-radius: 0
      gap: 20px
    span
      font: 34px/1 $mainFont
      margin-right: 160px
      @include between($netbook, $desktop)
        font: 30px/1 $mainFont
      @include max($tabletV - 1)
        font-size: 20px
    div
      font: 800 60px/65px $mainFont
      @include between($netbook, $desktop)
        font: 800 50px/55px $mainFont
      @include max($tabletV - 1)
        font: 800 30px/35px $mainFont
    &::after
      content: ''
      background: url("./assets/images/result-bg.png") center/contain no-repeat
      background-size: contain
      position: absolute
      right: 0
      top: 0
      bottom: 0
      height: 100%
      aspect-ratio: 260/170
      @include max($tabletV - 1)
        top: unset
        width: 40%
.help
  background: linear-gradient(87.32deg, #D6EDFD 2.01%, #EDEBEC 88.6%)
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25)
  border-radius: 50px
  padding: 30px 100px
  display: flex
  align-items: center
  justify-content: space-between
  gap: 1em
  @include between($netbook, $desktop)
    padding: 30px 60px
  @include between($tabletV, $tabletG)
    padding: 30px
    border-radius: 30px
  @include max($tabletV - 1)
    padding: 20px
    flex-direction: column
    align-items: flex-start
    justify-content: flex-start
    position: relative
    left: -10px
    width: calc(100% + 20px)
    border-radius: 0
  &__text
    width: 550px
    position: relative
    @include max($tabletV - 1)
      width: 100%
    &::after
      position: absolute
      width: 242px
      height: 74px
      left: 100%
      bottom: 5px
      background: url("./assets/images/help-arrow.png") no-repeat
      @include min($notebook)
        content: ''
  h2
    margin-bottom: 20px
  &__button
    width: 320px
    @include max($tabletV - 1)
      width: 160px
      height: 40px
.protez
  &__info
    background: linear-gradient(267.27deg, #117DC1 2.73%, #7C598C 112.12%)
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25)
    border-radius: 50px
    padding: 40px 50px
    display: flex
    align-items: center
    justify-content: flex-end
    gap: 115px
    color: $white
    position: relative
    overflow: hidden
    @include max($netbook - 1)
      flex-direction: column
      justify-content: flex-start
      gap: 20px
      align-items: flex-start
    @include between($tabletV, $tabletG)
      padding: 30px
      border-radius: 30px
    @include max($tabletV - 1)
      border-radius: 0
      padding: 20px 10px
      left: -10px
      width: calc(100% + 20px)
      h2
        text-align: left
      &-desc
        max-width: 320px
    &::after
      content: ''
      position: absolute
      bottom: 0
      width: 200px
      aspect-ratio: 200/153
      background: url("./assets/images/protez8.png") center/contain no-repeat
      @include min($netbook)
        left: 0
      @include max($netbook - 1)
        right: 0
        transform: rotateY(180deg)
        width: 30%
      @include max($tabletV - 1)
        width: 136px
    &-text
      max-width: 450px
    &-link
      width: 280px
      @include between($netbook, $desktop)
        width: 240px
      @include max($tabletG - 1)
        width: 180px
        height: 40px
      svg
        width: 12px
        height: 12px
        fill: transparent
        stroke: $blue
    h2
      line-height: 1
      letter-spacing: initial
      margin-bottom: 10px
    &_children
      margin-top: 50px
      .protez__info:after
        background: url("./assets/images/protez8.png") no-repeat
    &_jaw
      padding: 30px 50px
      @include max($tabletV - 1)
        padding: 20px 10px
      .protez__info-text
        max-width: 480px
      &:after
        background: url("./assets/images/jaw.png") center/contain no-repeat
.airflow
  background: linear-gradient(87.32deg, #D6EDFD 2.01%, #EDEBEC 88.6%)
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25)
  border-radius: 50px
  position: relative
  padding: 50px 100px 250px
  display: flex
  justify-content: space-between
  flex-wrap: wrap
  gap: 30px
  @include between($netbook, $desktop)
    padding: 30px 50px 230px
    border-radius: 30px
  @include between($tabletV, $netbook)
    padding: 30px 30px 300px
    border-radius: 30px
  @include between($tabletV, $tabletG)
    padding: 30px
    border-radius: 30px
  @include max($tabletV - 1)
    border-radius: 0
    padding: 20px 10px
    left: -10px
    width: calc(100% + 20px)
  &__img
    max-width: 530px
    border-radius: 50px
    @include between($netbook, $desktop)
      max-width: 500px
      width: 50%
    @include max($netbook - 1)
      max-width: 400px
      margin: 0 auto
    @include max($tabletV - 1)
      width: 100%
      border-radius: 30px
  &__wrap
    width: 100%
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-gap: 30px
    @include max($tabletG - 1)
      grid-template-columns: 1fr
      grid-gap: 20px
  &__text
    max-width: 600px
    @include between($netbook, $notebook)
      max-width: calc(50% - 30px)
    @include max($netbook - 1)
      text-align: center
      max-width: unset
  &__item
    background: $white
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25)
    border-radius: 20px
    padding: 20px 20px 25px
    @include max($netbook - 1)
      padding: 20px
    &-title
      display: flex
      align-items: center
      justify-content: flex-start
      gap: 20px
      margin-bottom: 20px
      @include between($netbook, $desktop)
        margin-bottom: 10px
        gap: 10px
    svg
      width: 43px
      height: 43px
      fill: $darkBlue
      flex-shrink: 0
      @include max($desktop - 1)
        width: 30px
        height: 30px
    h4
      margin-bottom: 0
  &__after
    position: absolute
    left: 0
    right: 0
    bottom: 0
    background: $white
    border-radius: 50px
    padding: 30px 100px 30px
    display: flex
    align-items: center
    justify-content: space-between
    gap: 120px
    @include between($netbook, $desktop)
      padding: 30px 75px
      border-radius: 30px
      gap: 50px
    @include max($netbook - 1)
      flex-direction: column
      padding: 20px 30px
      border-radius: 30px
      align-items: flex-start
      gap: 30px
    @include max($tabletG - 1)
      position: unset
    &-title
      max-width: 600px
      font: 800 34px/50px $mainFont
      margin-bottom: 13px
      display: inline-block
      @include max($tabletV - 1)
        max-width: 100%
        font: 800 20px/25px $mainFont
      .price
        letter-spacing: 0.1em
        font: 800 40px/1 $mainFont
        background: linear-gradient(180deg, #117DC1 0%, #7C598C 100%)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
        display: inline-block
        margin-left: 1em
        @include max($tabletV - 1)
          display: inline
          font: 800 20px/25px $mainFont
        &::selection
          -webkit-text-fill-color: $white
    &-box
      display: grid
      grid-template-columns: repeat(3, 1fr)
      grid-gap: 30px
      @include max($tabletG - 1)
        grid-gap: 20px
        grid-template-columns: 1fr
    &-feature
      display: flex
      align-items: center
      justify-content: flex-start
      gap: 10px
      white-space: nowrap
      font-weight: 800
      &::before
        content: ''
        width: 6px
        height: 6px
        border-radius: 50%
        border: 2px solid $black
.implant
  h2
    margin-bottom: 60px
  &__list
    margin-left: auto
    list-style-type: none
    counter-reset:  item
    display: flex
    flex-direction: column
    gap: 114px
    @include min($notebook)
      max-width: 810px
    @include max($tabletG - 1)
      gap: 70px
  &__item
    position: relative
    &:before
      content: '0'counter(item)
      counter-increment: item
      font: 800 60px/65px $mainFont
      color: $blue
      opacity: 0.3
      position: absolute
      left: 0
      top: -0.5em
      @include max($tabletV - 1)
        font: 800 45px/1 $mainFont
    &-img
      aspect-ratio: 250/100
      @include max($tabletV - 1)
        grid-row: 1/2
        width: 270px
        margin: 0 auto
    &-info
      display: grid
      grid-template-columns: 1fr 270px
      grid-gap: 50px
      @include between($tabletV, $tabletG)
        grid-template-columns: 1fr 250px
        grid-gap: 20px
      @include max($tabletV - 1)
        grid-template-columns: 1fr
        grid-gap: 20px
  &__after
    position: relative
    color: $white
    display: flex
    gap: 120px
    align-items: flex-end
    justify-content: flex-start
    background: linear-gradient(267.27deg, #117DC1 2.73%, #7C598C 112.12%)
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25)
    border-radius: 50px
    padding: 50px 30px
    overflow: hidden
    @include max($netbook - 1)
      padding: 30px
      flex-direction: column
      align-items: flex-start
      gap: 20px
    @include between($tabletV, $tabletG)
      border-radius: 30px
    @include max($tabletV - 1)
      padding: 10px 10px 20px
      border-radius: 0
      position: relative
      left: -10px
      right: -10px
      width: calc(100% + 20px)
      gap: 30px
    h3
      max-width: 592px
      @include max($tabletV - 1)
        text-align: left
        font: 800 17px/25px $mainFont
        position: relative
        z-index: 1
    &-price
      font: 800 60px/65px $mainFont
      background: linear-gradient(180deg, #F7C70A 0%, #FFFFFF 81.56%)
      -webkit-background-clip: text
      -webkit-text-fill-color: transparent
      position: relative
      z-index: 1
      @include between($netbook, $desktop)
        font: 800 50px/55px $mainFont
      &::selection
        -webkit-text-fill-color: $white
      @include max($tabletV - 1)
        font: 800 30px/1 $mainFont
    &::after
      content: ''
      position: absolute
      right: 0
      top: 0
      bottom: 0
      aspect-ratio: 325/200
      background: url("./assets/images/implant5.png") center/cover no-repeat
    h3
      margin-bottom: 0
  &__slider
    position: relative
    margin-bottom: 30px
    &-pagination
      display: flex
      align-items: center
      justify-content: center
      gap: 50px
      margin-bottom: 30px
      @include between($netbook, $desktop)
        gap: 40px
      @include between($tabletV, $tabletG)
        gap: 30px
      @include max($tabletV - 1)
        gap: 5px 20px
        flex-wrap: wrap
      .button
        display: flex !important
        background: $white !important
        opacity: 1 !important
        width: 280px
        height: 70px
        color: $blue
        border: 1px solid #1F79B5
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25)
        border-radius: 15px
        @include between($netbook, $desktop)
          height: 55px !important
          width: 220px !important
        @include max($tabletV - 1)
          width: 160px !important
          height: 30px !important
          border-radius: 5px
          font: 800 12px/16px $mainFont
        &.active
          background: #e3e3e3 !important
    &-wrap
      display: flex
      align-items: flex-start
      justify-content: flex-start
      gap: 120px
      @include between($netbook, $desktop)
        gap: 70px
      @include max($netbook - 1)
        flex-direction: column-reverse
        gap: 10px
    &-img
      border-radius: 30px
      @include max($netbook - 1)
        margin: 0 auto
      @include max($tabletV - 1)
        max-width: 250px
    &-item
      background: $white
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25)
      border-radius: 50px
      padding: 50px 100px
      opacity: 0
      transition: opacity 0.3s ease-out
      @include between($netbook, $desktop)
        padding: 30px 60px
      @include between($tabletV, $netbook)
        padding: 30px
      @include max($netbook - 1)
        text-align: center
      @include max($tabletV - 1)
        padding: 20px 10px
        text-align: left
        border-radius: 30px
      &.swiper-slide-visible
        opacity: 1
    &-desc
      min-height: 150px
      margin-bottom: 50px
      @include between($netbook, $desktop)
        margin-bottom: 20px
        min-height: 120px
      @include max($netbook - 1)
        min-height: unset
      @include max($tabletV - 1)
        margin-bottom: 20px
    &-feature
      width: 250px
      @include between($netbook, $desktop)
        width: 200px
      @include max($tabletV - 1)
        width: 100%
        display: flex
        align-items: center
        gap: 20px
      &-wrap
        display: flex
        align-items: flex-start
        justify-content: flex-start
        gap: 70px
        margin-bottom: 50px
        @include between($netbook, $desktop)
          gap: 50px
          margin-bottom: 30px
        @include max($netbook - 1)
          margin: 0 auto 30px
          justify-content: center
        @include max($tabletV - 1)
          flex-direction: column
          gap: 10px
          margin-bottom: 10px
      &-img
        display: block
        margin-bottom: 10px
        width: 100%
        @include max($tabletV - 1)
          width: 100px
    &-box
      display: flex
      align-items: center
      justify-content: flex-start
      gap: 80px
      @include max($netbook - 1)
        gap: 30px
      @include between($tabletV, $tabletG)
        gap: 20px
      @include max($tabletV - 1)
        flex-direction: column
        align-items: flex-start
        gap: 20px
      &-item
        width: 320px
        display: flex
        align-items: center
        justify-content: flex-start
        gap: 20px
        font-weight: 800
        @include max($netbook - 1)
          text-align: left
        @include max($tabletG - 1)
          width: 250px
      img, svg
        width: 50px
        height: 50px
        fill: transparent
        flex-shrink: 0
        @include max($desktop - 1)
          width: 30px
          height: 30px
    &-adv
      display: flex
      align-items: center
      justify-content: flex-start
      gap: 20px
      &::before
        content: ''
        width: 20px
        height: 20px
        background: url("./assets/images/sprite-content/pros.svg") center/cover no-repeat
        flex-shrink: 0
      &-wrap
        margin-bottom: 36px
        display: flex
        flex-direction: column
        justify-content: flex-start
        align-items: flex-start
        gap: 20px
    &-arrows
      @include max($netbook - 1)
        display: none
      .swiper-arrow
        width: 35px
        height: 35px
        background: linear-gradient(180deg, #1F79B5 0%, #7C598C 100%)
        border-radius: 50%
        position: absolute
        top: calc(50% - 17.5px)
        z-index: 2
      .swiper-prev
        left: 30px
        @include between($netbook, $desktop)
          left: 10px
      .swiper-next
        right: 30px
        transform: rotate(180deg)
        @include between($netbook, $desktop)
          right: 10px
  &__prices
    display: flex
    align-items: flex-start
    justify-content: space-between
    gap: 20px
    position: relative
    margin-bottom: -15px
    @include max($netbook - 1)
      justify-content: flex-start
      align-items: stretch
      overflow-x: auto
      overflow-y: visible
      -ms-overflow-style: none
      scrollbar-width: none
      &::-webkit-scrollbar
        display: none
    @include between($tabletV, $netbook)
      left: -20px
      right: -20px
      padding: 0 20px
      width: calc(100% + 40px)
    @include max($tabletV - 1)
      left: -10px
      right: -10px
      padding: 0 10px
      width: calc(100% + 20px)
      gap: 15px
    &-item
      background: linear-gradient(87.32deg, #D6EDFD 2.01%, #EDEBEC 88.6%)
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25)
      border-radius: 50px
      padding: 20px 0 30px
      margin-bottom: 15px
      position: relative
      @include max($tabletG - 1)
        padding-bottom: 60px
        width: 300px
        flex-shrink: 0
      @include max($netbook - 1)
        &:nth-of-type(1)
          order: 1
        &:nth-of-type(2)
          order: 3
        &:nth-of-type(3)
          order: 2
    h4
      margin-bottom: 0
    .country
      font: 400 14px/21px $mainFont
    &-top
      display: flex
      align-items: center
      justify-content: space-between
      padding: 0 30px 15px
    .flag
      width: 30px
      height: 30px
    &-free
      font: 800 17px/40px $mainFont
      background: $blue
      text-align: center
      text-transform: uppercase
      color: $white
    &-box
      padding: 15px 30px 30px
      display: flex
      flex-direction: column
      gap: 12px
    &-row
      display: flex
      align-items: flex-end
      justify-content: space-between
      gap: 100px
      padding-bottom: 10px
      border-bottom: 1px solid $border
      @include max($tabletG - 1)
        gap: 1em
      span:first-child
        font: 400 14px/1 $mainFont
      span:last-child
        font: 800 14px/1 $mainFont
        white-space: nowrap
    &-total
      display: flex
      align-items: center
      justify-content: space-between
      gap: 1em
      padding: 0 30px
      color: $darkBlue
      span:first-child
        font: 800 14px/1 $mainFont
      span:last-child
        font: 800 20px/1.5 $mainFont
        white-space: nowrap
    &-old-price
      font: 400 17px/1 $mainFont
      text-decoration: line-through
      padding: 0 30px 5px
      text-align: right
      @include max($tabletG - 1)
        position: absolute
        right: 0
        bottom: 95px
    &-notification
      margin: 20px 60px 0
      border-radius: 20px
      background: $blue
      color: $white
      text-transform: uppercase
      font: 800 14px/20px $mainFont
      text-align: center
      white-space: nowrap
      @include max($tabletG - 1)
        margin: 0
        position: absolute
        left: 50%
        transform: translateX(-50%)
        bottom: 20px
        padding: 3px 30px
  &__info
    display: flex
    align-items: flex-start
    justify-content: space-between
    gap: 1em
    @include max($tabletG - 1)
      flex-direction: column
    @include max($tabletV - 1)
      gap: 30px
    &-text
      max-width: 600px
    &-box
      padding: 50px 17px
      background: linear-gradient(87.32deg, #D6EDFD 2.01%, #EDEBEC 88.6%)
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25)
      border-radius: 30px
      @include between($tabletV, $tabletG)
        margin: 0 auto
      @include max($tabletV - 1)
        width: 100%
        background: transparent
        box-shadow: unset
        padding: 0
    &-row
      display: flex
      align-items: center
      justify-content: space-between
      gap: 100px
      white-space: nowrap
      @include max($tabletV - 1)
        gap: 1em
      &:not(:last-child)
        margin-bottom: 14px
    &-after
      position: relative
      padding: 50px
      background: linear-gradient(267.27deg, #117DC1 2.73%, #7C598C 112.12%)
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25)
      border-radius: 50px
      color: $white
      display: flex
      align-items: center
      justify-content: flex-end
      gap: 137px
      overflow-y: hidden
      @include max($netbook - 1)
        gap: 40px
        flex-direction: column
        align-items: flex-start
        justify-content: flex-start
      @include between($tabletV, $tabletG)
        padding: 30px
        border-radius: 30px
      @include max($tabletV - 1)
        padding: 20px 10px 30px
        gap: 40px
        border-radius: 0
        left: -10px
        width: calc(100% + 20px)
      &::after
        content: ''
        position: absolute
        left: 0
        top: 0
        bottom: 0
        aspect-ratio: 212/170
        background: url("./assets/images/implant-after.png") center/contain no-repeat
        @include max($netbook - 1)
          left: unset
          right: 0
          transform: rotateY(180deg)
        @include max($tabletV - 1)
          width: 174px
          top: unset
      &-title
        width: 502px
        font: 800 34px/1 $mainFont
        @include max($tabletV - 1)
          width: 100%
          font: 800 20px/25px $mainFont
          max-width: 280px
      .button
        width: 280px
        @include max($tabletV - 1)
          width: 160px
          height: 40px
.gigiena
  ul
    margin-top: 30px
  li
    display: flex
    align-items: center
    gap: 20px
    &:not(:last-child)
      margin-bottom: 20px
    &::before
      content: ''
      width: 7px
      height: 7px
      border-radius: 50%
      background: $purple
      flex-shrink: 0