.text
  &__wrap
    padding-top: 50px
  h1
    max-width: 600px
    font: 800 34px/50px $mainFont
    margin-bottom: 30px
  h4
    font: 800 17px/25px $mainFont
    margin: 0
    &:not(:first-child)
      margin-top: 30px
  a
    color: $black